name: Build and deploy Node.js app to Azure Web App - tbs

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: npm install, build, and test
        working-directory: ./server
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: ./server  # Upload only the server 

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
          path: ./server  # ⬅️ Download into ./server

      - name: Move server files to root
        run: |
          cp -r ./server/* .  # ⬅️ Move files from server to root for Azure deployment
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_BCB24FACD1204072B579258639446655 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A056060F91DE428B89EF215B95E8BE2C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_D0A78364FED44AAD9C02935B94CFAF0C }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'tbs'
          slot-name: 'Production'
          package: .

          



